.user-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 30px;
  }
  
  .user-card h2 {
    font-size: 1.5rem;
    margin-top: 0;
  }
  
  .user-card p {
    font-size: 1.2rem;
    margin: 0.5rem 0;
    line-height: 1.5;
  }
  
  .user-card p:first-of-type {
    margin-top: 0;
  }